<div class="container text-center">
    <h4>Driver's Championship</h4>
    <p>1. Lewis Hamilton</p> <br>
    <p>2. Max Verstappen</p> <br>
    <p>3. Lando Norris</p> <br>
    <p>4. Sergio Perez</p> <br>
    <p>5. Valtteri Bottas</p> <br>
    <p>6. Carlos Sainz</p> <br>
    <p>7. Charles Lerclerc</p> <br>
    <p>8. Fernando Alonso</p> <br>
    <p>9. Sebastian Vettel</p> <br>
    <p>10. Pierre Gasly</p> <br>
    <p>11. Daniek Ricciardo</p> <br>
    <p>12. Yuki Tsunoda</p> <br>
    <p>13. Lance Stroll</p> <br>
    <p>14. Kimi Raikkonen</p> <br>
    <p>15. Antonio Giovanazzi</p> <br>
    <p>16. George Russell</p> <br>
    <p>17. Nicholas Latifi</p> <br>
    <p>18. Mick Schumacher</p> <br>
    <p>19. Esteban Ocon</p> <br>
    <p>20. Nikita Mazepin</p> <br>
</div>