

    <p class="text-center">2021 Drivers</p>
    <div class="container text-center">
    <p>Lewis Hamilton</p> <br>
    <p>Valtteri Bottas</p> <br>
    <p>Max Verstappen</p> <br>
    <p>Sergio Perez</p> <br>
    <p>Charles Lercler</p> <br>
    <p>Carlos Sainz</p> <br>
    <p>Lando Norris</p> <br>
    <p>Daniek Ricciardo</p> <br>
    <p>Sebastian Vettel</p> <br>
    <p>Lance Stroll</p> <br>
    <p>Pierre Gasly</p> <br>
    <p>Yuki Tsunoda</p> <br>
    <p>Fernando Alonso</p> <br>
    <p>Esteban Ocon</p> <br>
    <p>Kimi Raikkonen</p> <br>
    <p>Antonio Giovanazzi</p> <br>
    <p>George Russell</p> <br>
    <p>Nicholas Latifi</p> <br>
    <p>Mick Schumacher</p> <br>
    <p>Nikita Mazepin</p> <br>
    
    </div>
    


